* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Hind, sans-serif;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
p {
  line-height: 1.5;
}
ul {
  list-style: none;
  margin: 0px;
}
a {
  text-decoration: none;
}
a,
span,
label,
input {
  display: inline-block;
}
input,
textarea,
button {
  outline: none;
}
.py {
  padding-top: 100px;
  padding-bottom: 100px;
}
.shown {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: scale 1s ease-in-out forwards;
  -webkit-animation: scale 1s ease-in-out forwards;
}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
@keyframes scale {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
    filter: grayscale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0);
  }
}
a.try_free {
  padding: 0.8rem 1.5rem;
  background: var(--primary-color, #455ef9);
}
a.try_free:hover,
a.try_free:focus {
  background: var(--primary-color, #455ef9);
  border-color: var(--primary-color, #455ef9);
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3)) !important;
}

article.article h3 span .yellowbg {
  bottom: -2px;
  left: 0px;
  z-index: -1;
  animation: 3s linear 0s infinite normal none running yellowBg;
}
@keyframes yellowBg {
  0% {
    width: 0px;
  }
  15% {
    width: 100%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}

/* header */
header {
  position: fixed;

  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 70px;
  z-index: 100;
}
header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-light, #fff);
  box-shadow: var(--shadow);
  animation: 0.1s ease-in-out 0s 1 normal forwards running fade;
}
header.scroll {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
  transition: all ease 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
ul li a,
a {
  color: var(--color, #0e1133);
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  font-family: Hind, sans-serif;
}
section {
  z-index: 3;
}
header .header-left a.logo {
  margin-top: 10px;
}
header .header-left a.logo figure {
  width: 114px;
  height: 46px;
  margin: 0;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
}
header .header-category {
  padding-left: 56px;
}
header .header-category::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 27px;
  width: 1px;
  height: 165%;
  background: rgb(206, 206, 206);
}
header .header_category li ul.drop_down_menu li > a:hover,
header ul li.drop_down_btn:hover > a {
  fill: var(--primary-color, #2bbcff);
  color: var(--primary-color, #2b4eff);
}
header .header-category .header-category-icon {
  width: 15px;
  margin-right: 10px;
}
header ul li ul.drop_down_menu {
  left: 0px;
  width: 200px;
  background: var(--color-light, #fff);
  box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}
header ul li ul.category_drop_down_menu {
  top: calc(100% + 30px);
  padding: 17px 0px 15px;
  border-radius: 4px;
}
header ul li ul.drop_down_menu li a {
  width: 100%;
}
header .header-category li ul.drop_down_menu li > a {
  padding: 3px 30px;
  color: rgb(109, 110, 117);
  font-weight: 500;
  text-transform: capitalize;
}
header li.drop_down_btn:hover ul.drop_down_menu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
header .header-right nav.main-menu {
  width: 50%;
}
header .header-right nav.main-menu ul {
  padding: 0px;
}
header .header-right nav.main-menu ul span {
  font-size: 0.6rem;
  vertical-align: text-top;
}
header .header-right nav.main-menu ul a:not(.drop_down_menu a) {
  padding: 35px 0px;
}
header nav.main-menu ul li ul.drop_down_menu {
  top: 120%;
}
header nav.main-menu ul li ul.drop_down_menu a {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
}
header nav.main-menu ul li ul.drop_down_menu li:not(:last-child) a {
  border-bottom: 1px solid rgb(221, 221, 221);
}
header nav.main-menu ul li ul.drop_down_menu a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% + 1px);
  width: 100%;
  z-index: -2;
  background: var(--primary-color);
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out 0s;
}
header nav.main-menu ul li ul.drop_down_menu a:hover {
  color: var(--color-light, #fff);
  background-color: blue;
}
header nav.main-menu ul li ul.drop_down_menu a:hover::before {
  transform-origin: left center;
  transform: scaleX(1);
  transition-delay: 0.1s;
}
header .form_and_btn form {
  background: var(--color-light, #fff);
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  border: 1px solid transparent;
}
header.sticky .form_and_btn form {
  background: var(--gray-color, #edeef3);
}
header .form_and_btn form:focus-within {
  border-color: var(--primary-color, #455ef9);
}
header .form_and_btn form .shopping_cart_icon {
  width: 24px;
}
header .form_and_btn form .shopping_cart_icon path {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 1.2px;
}
header .form_and_btn form button,
.form_and_btn form input {
  background: transparent;
  border: none;
}
header .form_and_btn form input {
  padding: 5px 1rem;
  font-size: 14px;
  width: 100%;
  border-right: 1px solid rgb(221, 221, 221);
  margin-right: 10px;
}
header .form_and_btn form .shopping_cart_and_label span {
  position: absolute;
  top: -7px;
  right: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary-color, #455ef9);
  text-align: center;
  line-height: 18px;
  color: var(--color-light, #fff);
  font-size: 13px;
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3));
}
header .toggle-btn {
  width: 35px;
  height: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 112;
}
.overlay.toggle {
  opacity: 1;
  pointer-events: all;
}

/*header end*/

/*banner-area*/
#banner-area {
  padding-top: 15rem;
  padding-bottom: 250px;
  background: var(--gray-color, #edeef3);
}
#banner-area .banner_custom_shape img.circle {
  top: 17%;
  left: 5%;
  animation: 5s linear 0s infinite alternate none running rotate;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
#banner-area .banner_custom_shape img.semicircle {
  bottom: 29%;
  left: 0px;
}
#banner-area .banner_custom_shape img.dots {
  right: 0px;
  bottom: 38%;
}
#banner-area .article_wrapper {
  padding-top: 2rem;
}
#banner-area article.article {
  padding: 0px 1rem 0px 4rem;
}
article.article h3 {
  font-size: 3.1rem;
  line-height: 1;
  font-weight: 600;
}
#banner-area article.article .d-block {
  display: block !important;
  font-weight: 100;
}
#banner-area article.banner_article p {
  font-size: 1.2rem;
  padding-right: 8rem;
  margin-bottom: 2rem;
}
#banner-area .banner_thumb_wrapper img {
  z-index: -1;
}
#banner-area .banner_thumb_wrapper img.dot-square {
  bottom: -3%;
  left: -5%;
  animation: 3s linear 0s infinite alternate none running upDown;
}
@keyframes upDown {
  100% {
    bottom: 14%;
  }
}
#banner-area .banner_thumb_wrapper img.fill_circle {
  top: -8%;
  right: 12%;
}
#banner-area .banner_thumb_wrapper img.stroke_circle {
  right: 0px;
  bottom: -15%;
}
#banner-area .banner_thumb_wrapper .banner_thumb_big {
  margin-right: 1.8rem;
}
#banner-area .banner_thumb_wrapper .banner_thumb_big figure {
  border-radius: 2.5rem 4px 2.5rem 4px;
  overflow: hidden;
}
#banner-area .banner_thumb_wrapper.banner_thumb_sm {
  width: 72%;
}
#banner-area .banner_thumb_wrapper .banner_thumb_sm figure {
  margin-top: 4rem;
  overflow: hidden;
  border-radius: 4px 2.5rem 4px 2.5rem;
}
#banner-area .banner_thumb_wrapper .animated_qoute {
  right: 5%;
  bottom: 12%;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  background: var(--color-light, #fff);
  box-shadow: var(--shadow);
  animation: 2.5s ease 0s infinite normal none running bounce;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}
#banner-area .banner_thumb_wrapper .animated_qoute h4 {
  font-size: 1.05rem;
  font-weight: 600;
}
#banner-area .banner_thumb_wrapper .animated_qoute span {
  font-size: 15px;
}
/*banner-area end*/

/* course-area*/

#course-area {
  background: var(--color-light, #fff);
}
#course-area .row.mb {
  margin-bottom: 3rem;
}
#course-area .container .col-lg-4 {
  margin: 0.88rem 0px;
}
#course-area article.article h3 {
  font-size: 2.5rem;
}
#course-area a.view_all {
  background: var(--color-light, #fff);
  width: max-content;
  margin-right: 1.4rem;
  color: var(--bs-gray-600);
}
#course-area a.view_all i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#course-area a.view_all i:first-child {
  right: 5px;
  z-index: -1;
  opacity: 0;
}
#course-area a.view_all i:last-child {
  right: -10px;
}
#course-area a.view_all:hover {
  color: var(--primary-color);
}
#course-area a.view_all:hover i:first-child {
  right: -14px;
  opacity: 1;
}
#course-area a.view_all:hover i:last-child {
  right: -1.5rem;
  opacity: 0;
}

#course-area .course_category {
  border: 2px solid rgb(243, 243, 243);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out 0s;
}
#course-area .course_category:hover {
  background-color: blue;
  box-shadow: var(--shadow);
  border-color: blue;
}
#course-area .course_category a {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}
#course-area .course_category .category_icon {
  width: 40px;
  fill: rgb(43, 78, 255);
}

/* #course-area .course_category .category_icon img{
    filter: brightness(0) invert(1);
  } */
#course-area .course_category:hover .category_content * {
  color: var(--color-light, #fff);
}
#course-area .course_category:hover .category_icon {
  fill: var(--color-light, #fff);
  filter: brightness(0) invert(1);
}
#course-area .course_category .category_content h4 {
  margin: 0px;
  font-size: 1.2rem;
  color: var(--color);
  font-weight: 600;
}
#course-area .course_category .category_content {
  padding-left: 2rem;
  padding-top: 1rem;
}
#course-area .course_category .category_content p {
  color: #555555;
}
#course-area .course_banner_item {
  margin-top: 6rem;
  padding: 30px 30px 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.3rem;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
#course-area .course_banner_content {
  width: 50%;
}
#course-area .course_banner_content span {
  padding: 1px 15px;
  color: var(--color-light, #fff);
  font-size: 13px;
  border-radius: 23px;
  margin-bottom: 1rem;
  background: var(--secondary-color, #fc4389);
}
#course-area .course_banner_content h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
#course-area .course_banner_content a.try_free {
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
}
#course-area .course_banner_item.one {
  background-image: url("../images/banner-bg-1.jpg");
  margin-right: 0.5rem;
}
#course-area .course_banner_item.two {
  background-image: url("../images/banner-bg-2.jpg");
  margin-left: 0.5rem;
}
#course-area .course_banner_item.two {
  padding: 2px 30px 0px;
}
#course-area .course_banner_item.two .course_banner_thumb {
  width: 300px;
}
